<!DOCTYPE html>
<html>

<head>
  <title>Hacking Game</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/buefy"></script>
  <script src="./config.js"></script>
  <script src="./levenshtein.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <img class="logo" src="./hacker.svg" alt="Hacker logo">
    <h1>{{ greeting }}</h1>
    <div class="form">
        <b-field label="Choose person">
            <b-select placeholder="Choose person" expanded v-model="selectedPerson">
                <option
                    v-for="person in people"
                    :value="person"
                    :key="person.name">
                    {{ person.name }}
                </option>
            </b-select>
        </b-field>

      <b-field label="Password" :message="similarityMessage">
        <b-input value="123" type="text" v-model="password"></b-input>
      </b-field>

      <button class="button is-primary" :disabled="similarinityIndex !== 1" v-on:click="login()">Login</button>
    </div>
  </div>

  <script>
    Vue.use(Buefy.default);

    new Vue({
      el: '#app',
      data: {
        greeting: 'Welcome in hacking game',
        people: window.people,
        password: '',
        matchPassword: window.people[0].password,
        selectedPerson: window.people[0],
        similarityMessage: 'Input password',
        similarinityIndex: 0
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        login: function () {
          this.$dialog.alert({
                    title: 'SECRET! ' + this.selectedPerson.name,
                    message: this.selectedPerson.secretInformation,
                    confirmText: 'Close'
          })
        }
      },
      watch: {
        password: function (password) {
          if (this.selectedPerson) {
            const similarinityIndex = window.similarity(password, this.matchPassword);

            this.similarinityIndex = similarinityIndex;
            if (similarinityIndex < 0.3 && similarinityIndex !== 0) {
              this.similarityMessage = 'Ah no, the password does not match at all so far';
            } else if (similarinityIndex >= 0.3 && similarinityIndex < 0.6) {
              this.similarityMessage = 'It seems that your are going right direction.'
            } else if (similarinityIndex >= 0.6 && similarinityIndex < 0.8) {
              this.similarityMessage = 'Yes, big part of the password is correct!'
            } else if (similarinityIndex >= 0.8 && similarinityIndex < 1) {
              this.similarityMessage = 'The password is almost correct! Just think a bit and do slight change.'
            } else if (similarinityIndex === 1) {
              this.similarityMessage = 'Yes! You made it. Now login and get the secret information.'
            } else {
              this.similarityMessage = 'Input password';
            }
          }
        },
        selectedPerson: function(person) {
          this.matchPassword = person.password;
          this.password = '';
        }
      }
    });
  </script>
</body>

</html>